<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
      <div class="container">
        <div class="row">
          
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad 1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5669624956855303"
     data-ad-slot="2614666471"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </div>
      </div>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="#" class="brand-logo">
                <object id="front-page-logo" type="image/svg+xml" data="/logo.svg">Logo</object>
              </a>
              <ul class="left hide-on-med-and-down">
                <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="#">Authors</a></li>
                <li><a href="{{ path('topicspage',{'_format':'html'}) }}">Topics</a></li>
                <li><a href="{{ path('quotesofday',{'_format':'html'}) }}">Quote of the Day</a></li>
              </ul>

              <ul class="right hide-on-med-and-down">
                <li><a>
                  <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
                </a></li>
                <li><a href="{{ path('signup') }}">Sign Up</a></li>
                <li><a href="#">Login</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Authors</a></li>
                <li><a href="#">Topics</a></li>
                <li><a href="#">Quote of the Day</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
              <div class="container">
                <br><br>
                <div class="row center">
                  <a href="#"><h5 class="header col s12 light">A forest bird never wants a cage.</h5></a>
                </div>
                <div class="row center">
                  <a href="#"><p>Henrik Ibsen</p></a>
                </div>
                <br><br>

              </div>
            </div>
            <div class="parallax"><img src="/background1.jpg" alt="Unsplashed background img 1"></div>
        </div>

        {% block body %}{% endblock %}
        <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">BrainyQuote Desktop</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s6">
              <h5 class="white-text">Site</h5>
              <ul>
                <li><a class="white-text" href="#!">Home</a></li>
                <li><a class="white-text" href="#!">Authors</a></li>
                <li><a class="white-text" href="{{ path('topicspage',{'_format':'html'}) }}">Topics</a></li>
                <li><a class="white-text" href="{{ path('quotesofday',{'_format':'html'}) }}">Quote of the Day</a></li>
                <li><a class="white-text" href="{{ path('professionpage',{'_format':'html'}) }}">Professions</a></li>
                <li><a class="white-text" href="{{ path('birthdayspage',{'_format':'html'}) }}">Birthdays</a></li>
              </ul>
            </div>
            <div class="col l3 s6">
              <h5 class="white-text">About</h5>
              <ul>
                <li><a class="white-text" href="#!">About Us</a></li>
                <li><a class="white-text" href="#!">Inquire</a></li>
                <li><a class="white-text" href="#!">Submit</a></li>
                <li><a class="white-text" href="#!">Privacy</a></li>
                <li><a class="white-text" href="#!">Terms</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    </footer>


        {% block javascripts %}{% endblock %}
    </body>
</html>
