{% extends 'base.html.twig' %}

{% block title%}Authors by Birthday - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}

	{% include 'helper/letternavbar.html.twig' %}
<div class="container">
    <div class="row sf_content">
        <h5>Authors by Birthday</h5>
        <p>Want to know what famous authors share your birthday? Browse our authors by their birthday on the calendar below. Click the date to find authors born on your favorite day.</p>

        <div class="col s12 m12 l8">
        	<div class="row">

				{% for item in cal_days %}
				<div class="col s12 m6 l6">

					<div class="picker__box" style="box-shadow: none;border: none;">
						<div class="picker__date-display">
							<div class="picker__month-display" style="font-size: 19px;">
								<div>{{ item.month }}</div></div>
							</div>
						<div class="picker__calendar-container">
							<table class="picker__table" id="birthdate_table" role="grid" aria-controls="birthdate" aria-readonly="true">
								<tbody>
								{% set week = 0 %}
								{% for i in 1..item.lday %}
									{% if(week == 0) %}
										<tr>
									{% endif %}
									<td role="presentation">
										<div class="picker__day picker__day--infocus" role="gridcell" >
											<a href="{{ path('birthdaysonpage',{'_format':'html', 'date': (item.month ~ '_' ~ i) }) }}">{{ i }}</a>
										</div>
									</td>
									{% set week = week + 1 %}
									{% if(week == 7) %}
										</tr>
										{% set week = 0 %}
									{% endif %}
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				{% endfor %}


        	</div>
        </div>
		<div class="col s12 m12 l4">
			<div class="row">
				<div style="margin: 0.82rem 0 0.656rem 0;"><a href="{{ path('signup') }}"><img src="/ads/18182572789517860383.png" /></a></div>
			</div>
			<h5>Popular Authors</h5>
      		{{ render_esi(controller('AppBundle:Topselect:topauthors')) }}
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}