{% extends 'base.html.twig' %}

{% block title %}Famous Quotes at BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row sf_content">
      <div class="col s12 m12 l8">
        <div class="col s12 m12 l6">
          <div class="row" style="margin-right: 0px;">
            <h5>Popular Topics</h5>
            <p>Browse quotations by topic:</p>
            {% set mycount = 0 %}
            {% for item in topics %}
              {% if(mycount == 0) %}
                <div class="col s12 m6 l6">
                  <div class="row">
                    <ul>
              {% endif %}
              <li><a href="{{ path('onetopicpage',{'_format':'html','slug': item.slug }) }}">{{ item.name }}</a></li>
              {% set mycount = mycount + 1 %}
              {% if(mycount == 9) %}
                    </ul>
                  </div>
                </div>
                {% set mycount = 0 %}
              {% endif %}
            {% endfor %}

            {% if(mycount != 9 and mycount != 0) %}
                  </ul>
                </div>
              </div>
              {% set mycount = 0 %}
            {% endif %}
          </div>
        </div>
        <div class="col s12 m12 l6">
          <div class="row">
            <h5>Popular Authors</h5>
            <p>Browse by author:</p>
            {% set mycount = 0 %}
            {% for item in authors %}
              {% if(mycount == 0) %}
                <div class="col s12 m6 l6">
                  <div class="row">
                    <ul>
              {% endif %}
              <li><a href="{{ path('quotesbyauthor',{'_format':'html','slug': item.slug }) }}">{{ item.name }}</a></li>
              {% set mycount = mycount + 1 %}
              {% if(mycount == 9) %}
                    </ul>
                  </div>
                </div>
                {% set mycount = 0 %}
              {% endif %}
            {% endfor %}

            {% if(mycount != 9 and mycount != 0) %}
                  </ul>
                </div>
              </div>
              {% set mycount = 0 %}
            {% endif %}
          </div>
        </div>
        <div class="col s12 m12 l12">
          <div class="row">
            <h5>Authors to Explore</h5>
            <div class="col s12 m6 l6">
              <div class="row">
                <ul>
                  <li><a href="#!">A. P. J. Abdul Kalam</a></li>
                </ul>
              </div>
            </div>
            <div class="col s12 m6 l6">
              <div class="row">
                <ul>
                  <li><a href="#!">Yogi Berra</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l4">
        <div class="row">
          <h5>Today's Birthdays</h5>
          <ul>
            {% for item in birthdays %}
              <li>{{ item.born|date("Y") }} - <a href="{{ path('quotesbyauthor',{'slug': item.slug, '_format':'html'}) }}">{{ item.name }}</a></li>
            {% endfor %}
            <li><a href="{{ path('birthdaysonpage',{'_format':'html', 'date': "now"|date("F_d") }) }}">Birthdays on {{ "now"|date("F d") }}nd</a> | <a href="{{ path('birthdayspage',{'_format':'html'}) }}">All Birthdays</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  {% if app.session.flashBag.has('success') %}
      {% for msg in app.session.flashBag.get('success') %}
        <script>
          Materialize.toast('{{ msg }}', 4000,'green');
        </script>

      {% endfor %}
  {% endif %}

  {% for flash_message in app.session.flashbag.get('success') %}
    <script>
      Materialize.toast('{{ flash_message }}', 4000,'green');
    </script>
  {% endfor %}
{% endblock %}