{% extends 'base.html.twig' %}

{% block title %}{{ keyword|title }} Quotes - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}

  {% include 'helper/letternavbar.html.twig' %}
<div class="container">
    <div class="row sf_content">
        <h5>{{ keyword|title }} Quotes</h5>

        <div class="col s12 m12 l9">
          <div class="row">
          <i class="fa fa-home fa-fw"></i>&nbsp; slider
          </div>
          <!-- start top pagenation -->

          <div class="row">
            <ul class="pagination left">
              <li {% if(page == 1) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == 1) %}{% else %}href="{{ path('onekeywordpage', {'slug' :keyword,'page': '1','_format':'html' }) }}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li class="waves-effect">
              {% for i in 1..total_page %}
                 <li{% if(page == i) %} class="active"{% else %} class="waves-effect"{% endif %}>
                 <a {% if(page == i) %}{% else %}href="{{ path('onekeywordpage', { 'page' : i ,'slug' :keyword,'_format':'html' } ) }}"{% endif %}>{{ i }}</a>
                 </li>
              {% endfor %}
              <li {% if(page == total_page) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == total_page) %}{% else %}href="{{ path('onekeywordpage', {'page': total_page ,'slug' :keyword,'_format':'html' }) }}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
            <div class="right">
              <div class="btn-group">
                <a type="button" class="btn"><i class="fa fa-th"></i></a>
                <a type="button" class="btn-flat"><i class="fa fa-th-list"></i></a>
              </div>
            </div>
          </div>

          <!-- end top pagenation -->

          <div class="row">
            {% set line_c = 0 %}
            {% for item in quotes %}
              {% set line_c = line_c + 1 %}
              {% if(line_c == 1) %}
                <div class="col s12 m4" style="float: left;vertical-align: top;display: inline-block;">
              {% endif %}
                <div class="card">
                  {% if(item.image) %}
                    <div class="card-image">
                      <img src="/uploads/{{ item.image }}">
                    </div>
                  {% endif %}
                  <div class="card-content">
                    <p>{{ item.quote }}</p>
                    <a href="">{{ item.author.name }}</a>
                  </div>
                  {% if(item.keywords) %}
                  <div class="card-tags">
                    {% set tags = item.keywords|split(', ') %}
                    {% for tag in tags %}
                      {% set isTopic = false %}
                      {% for i in topics %}
                        {% if (i.name == tag) %}
                          {% set isTopic = true %}
                        {% endif %}
                      {% endfor %}
                      {% if (isTopic == true) %}
                        <a href="{{ path('onetopicpage',{'_format':'html','slug': tag|lower }) }}" title="view topic">{{ tag }}</a>,
                      {% else %}
                        <a href="{{ path('onekeywordpage',{'_format':'html','slug': tag|lower }) }}" title="view keyword">{{ tag }}</a>,
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="card-action">
                    <a class="left-align" href="#" style="color:#00B7ED;"><i class="fa fa-facebook-official fa-2x"></i></a>
                    <a class="left-align" href="#" style="color:#803591;"><i class="fa fa-twitter-square fa-2x"></i></a>
                    {% if(item.image) %}
                      <a class="left-align" href="#" style="color:#F52422;"><i class="fa fa-pinterest-square fa-2x"></i></a>
                    {% else%}
                      <a class="left-align" href="#" style="color:#85C243;"><i class="fa fa-camera fa-2x"></i></a>
                    {% endif %}

                    <a class="right-align right" href="#" style="color:#333;"><i class="fa fa-plus-square-o fa-2x"></i></a>
                    <a class="right-align right" href="#" style="color:#F52422;"><i class="fa fa-heart-o fa-2x"></i></a>
                  </div>
                </div>
              {% if(line_c == 9)%}
                {% set line_c = 0 %}
                </div>
              {% endif %}
            {% endfor %}

            {% if(line_c != 9 and line_c != 0)%}
              </div>
            {% endif %}
          </div>

          <!-- start pagenation -->

          <div class="row">
            <ul class="pagination">
              <li {% if(page == 1) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == 1) %}{% else %}href="{{ path('onekeywordpage', {'slug' :keyword,'page': '1','_format':'html' }) }}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li class="waves-effect">
              {% for i in 1..total_page %}
                 <li{% if(page == i) %} class="active"{% else %}{% endif %}>
                 <a {% if(page == i) %}{% else %}href="{{ path('onekeywordpage', { 'page' : i ,'slug' :keyword,'_format':'html' } ) }}"{% endif %}>{{ i }}</a>
                 </li>
              {% endfor %}
              <li {% if(page == total_page) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == total_page) %}{% else %}href="{{ path('onekeywordpage', {'page': total_page ,'slug' :keyword,'_format':'html' }) }}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- end pagenation -->
        </div>
        <div class="col s12 m12 l3">
          <h5>Popular Topics</h5>

          {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}
          
          <h5>Popular Authors</h5>

          {{ render_esi(controller('AppBundle:Topselect:topauthors')) }}
        </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}