{% extends 'base.html.twig' %}

{% block title%}Authors by Birthday - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row sf_content">
        <h5>{{ author.name }} Quotes</h5>

        <div class="col s12 m12 l9">
          <div class="row">
          slider
          </div>

          <!-- start pagenation -->

          <div class="row">
            <ul class="pagination left">
              <li {% if(page == 1) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == 1) %}{% else %}href="{{ path('quotesbyauthor', {'slug' :author.slug,'page': '1','_format':'html' }) }}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li class="waves-effect">
              {% for i in 1..total_page %}
                 <li{% if(page == i) %} class="active"{% else %} class="waves-effect"{% endif %}>
                 <a {% if(page == i) %}{% else %}href="{{ path('quotesbyauthor', { 'page' : i ,'slug' :author.slug,'_format':'html' } ) }}"{% endif %}>{{ i }}</a>
                 </li>
              {% endfor %}
              <li {% if(page == total_page) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == total_page) %}{% else %}href="{{ path('quotesbyauthor', {'page': total_page ,'slug' :author.slug,'_format':'html' }) }}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
            <div class="right">
              <a class="btn waves-effect waves-light green">Cart View<i class="Small material-icons">view_modulet</i></a>
              <a class="btn-flat waves-effect">List View<i class="Small material-icons">view_list</i></a>
            </div>
          </div>

          <!-- end pagenation -->

        	<div class="row">

      {% for item in quotes %}
        <div class="col s12 m4" style="float: left;vertical-align: top;display: inline-block;">
          <div class="card">
            {% if(item.image) %}
              <div class="card-image">
                <img src="/uploads/{{ item.image }}">
              </div>
            {% endif %}
            <div class="card-content">
              <p>{{ item.quote }}</p>
              <a href="">{{ author.name }}</a>
            </div>
            <div class="card-tags">
              <a href="#">Life, Point, Easy</a>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      {% endfor %}


        	</div>

          <!-- start pagenation -->

          <div class="row">
            <ul class="pagination">
              <li {% if(page == 1) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == 1) %}{% else %}href="{{ path('quotesbyauthor', {'slug' :author.slug,'page': '1','_format':'html' }) }}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li class="waves-effect">
              {% for i in 1..total_page %}
                 <li{% if(page == i) %} class="active"{% else %}{% endif %}>
                 <a {% if(page == i) %}{% else %}href="{{ path('quotesbyauthor', { 'page' : i ,'slug' :author.slug,'_format':'html' } ) }}"{% endif %}>{{ i }}</a>
                 </li>
              {% endfor %}
              <li {% if(page == total_page) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == total_page) %}{% else %}href="{{ path('quotesbyauthor', {'page': total_page ,'slug' :author.slug,'_format':'html' }) }}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- end pagenation -->
        </div>
		<div class="col s12 m12 l3">
			<h5>Biography</h5>
      <p>Nationality: <a href="#">{{ author.nationality.name }}</a></p>
      <p>Type: <a href="#">{{ author.profession.name }}</a></p>
      <p>Born: </p>
      <p>Died: </p>

            <blockquote class="z-depth-1" style="border-color:#00B7ED;">
              <a href="#"><b>Biography</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#803591;">
              <a href="#"><b>Inspirational</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#F52422;">
              <a href="#"><b>Life</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#FFAE1D;">
              <a href="#"><b>Love</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#85C243;">
              <a href="#"><b>Funny</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#00B7ED;">
              <a href="#"><b>Positive</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#803591;">
              <a href="#"><b>Friendship</b> Quotes</a>
            </blockquote>

            <blockquote class="z-depth-1" style="border-color:#F52422;">
              <a href="#"><b>Success</b> Quotes</a>
            </blockquote>
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
{% endblock %}