{% extends 'base.html.twig' %}

{% block title%}Authors by Birthday - BrainyQuote{% endblock %}

{% block stylesheets %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
  {% include 'helper/letternavbar.html.twig' %}
<div class="container">
    <div class="row sf_content">
        <h5>{{ author.name }} Quotes</h5>

        <div class="col s12 m12 l9">
          <div class="row">
          <i class="fa fa-home fa-fw"></i>&nbsp; slider
          </div>
          <!-- start top pagenation -->

          <div class="row">
            <ul class="pagination left">
              <li {% if(page == 1) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == 1) %}{% else %}href="{{ path('quotesbyauthor', {'slug' :author.slug,'page': '1','_format':'html' }) }}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              {% for i in 1..total_page %}
                 <li{% if(page == i) %} class="active"{% else %} class="waves-effect"{% endif %}>
                 <a {% if(page == i) %}{% else %}href="{{ path('quotesbyauthor', { 'page' : i ,'slug' :author.slug,'_format':'html' } ) }}"{% endif %}>{{ i }}</a>
                 </li>
              {% endfor %}
              <li {% if(page == total_page) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == total_page) %}{% else %}href="{{ path('quotesbyauthor', {'page': total_page ,'slug' :author.slug,'_format':'html' }) }}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
            <div class="right">
              <div class="btn-group">
                <a type="button" class="btn"><i class="fa fa-th"></i></a>
                <a type="button" class="btn-flat"><i class="fa fa-th-list"></i></a>
              </div>
            </div>
          </div>

          <!-- end top pagenation -->

          <div class="row grid" data-masonry='{ "itemSelector": ".grid-item" }'>
            {% for item in quotes %}
              <div class="grid-item col s12 m4">
                <div class="card">
                  {% if(item.image) %}
                    <div class="card-image">
                      <img src="/uploads/{{ item.image }}">
                    </div>
                  {% endif %}
                  <div class="card-content">
                    <p>{{ item.quote }}</p>
                    <a href="">{{ author.name }}</a>
                  </div>
                  {% if(item.keywords) %}
                  <div class="card-tags">
                    {% set tags = item.keywords|split(', ') %}
                    {% for tag in tags %}
                      {% set isTopic = false %}
                      {% for i in topics %}
                        {% if (i.name == tag) %}
                          {% set isTopic = true %}
                        {% endif %}
                      {% endfor %}
                      {% if (isTopic == true) %}
                        <a href="{{ path('onetopicpage',{'_format':'html','slug': tag|lower }) }}" title="view topic">{{ tag }}</a>,
                      {% else %}
                        <a href="{{ path('onekeywordpage',{'_format':'html','slug': tag|lower }) }}" title="view keyword">{{ tag }}</a>,
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="card-action">
                    <a class="left-align" href="#" style="color:#00B7ED;"><i class="fa fa-facebook-official fa-2x"></i></a>
                    <a class="left-align" href="#" style="color:#803591;"><i class="fa fa-twitter-square fa-2x"></i></a>
                    {% if(item.image) %}
                      <a class="left-align" href="#" style="color:#F52422;"><i class="fa fa-pinterest-square fa-2x"></i></a>
                    {% else%}
                      <a class="left-align" href="#" style="color:#85C243;"><i class="fa fa-camera fa-2x"></i></a>
                    {% endif %}

                    <a class="right-align right" href="#" style="color:#333;"><i class="fa fa-plus-square-o fa-2x"></i></a>
                    <a class="right-align right" href="#" style="color:#F52422;"><i class="fa fa-heart-o fa-2x"></i></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <!-- start pagenation -->

          <div class="row">
            <ul class="pagination">
              <li {% if(page == 1) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == 1) %}{% else %}href="{{ path('quotesbyauthor', {'slug' :author.slug,'page': '1','_format':'html' }) }}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li class="waves-effect">
              {% for i in 1..total_page %}
                 <li{% if(page == i) %} class="active"{% else %}{% endif %}>
                 <a {% if(page == i) %}{% else %}href="{{ path('quotesbyauthor', { 'page' : i ,'slug' :author.slug,'_format':'html' } ) }}"{% endif %}>{{ i }}</a>
                 </li>
              {% endfor %}
              <li {% if(page == total_page) %}class="disabled"{% else %}class="waves-effect"{% endif %}>
                <a {% if(page == total_page) %}{% else %}href="{{ path('quotesbyauthor', {'page': total_page ,'slug' :author.slug,'_format':'html' }) }}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- end pagenation -->
        </div>
        <div class="col s12 m12 l3">
          <h5>Biography</h5>
          {% if (author.nationality) %}
            <p>Nationality: <a href="{{ path('quotesbynationality',{'slug':author.nationality.slug,'_format':'html'})}}">{{ author.nationality.name }}</a></p>
          {% endif %}

          {% if (author.profession) %}
            <p>Type: <a href="{{ path('oneprofessionpage',{'_format':'html','slug':author.profession.slug}) }}">{{ author.profession.name }}</a></p>
          {% endif %}

          {% if author.born matches '/([0-9]){4}-([0-9]){2}-([0-9]){2}/' %}
            <p>Born: <a href="{{ path('birthdaysonpage',{'_format':'html', 'date': author.born|date("F_d") }) }}">{{ author.born|date("F d") }}</a>, {{ author.born|date("Y") }}</p>
          {% else %}
            <p>Born: {{ author.born }}</p>
          {% endif %}

          {% if author.died matches '/([0-9]){4}-([0-9]){2}-([0-9]){2}/' %}
            <p>Died: <a href="{{ path('birthdaysonpage',{'_format':'html', 'date': author.died|date("F_d") }) }}">{{ author.died|date("F d") }}</a>, {{ author.died|date("Y") }}</p>
          {% else %}
            <p>Died: {{ author.died }}</p>
          {% endif %}

          <h5>Popular Topics</h5>

          {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}
          
          <h5>Popular Authors</h5>

          {{ render_esi(controller('AppBundle:Topselect:topauthors')) }}
	      </div>
      </div>
</div>
{% endblock %}

{% block javascripts %}

  <!--  Scripts-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/masonry/masonry.pkgd.min.js"></script>
{% endblock %}