<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <a href="#"><h4 class="header col s12 light">{{ quote.quote }}</h4></a>
            </div>
            <div class="row center">
                <a href="{{ path('quotesbyauthor',{'_format':'html','slug': quote.author.slug }) }}"><p>{{ quote.author.name }}</p></a>
            </div>

            <div class="row center">
                <p>&nbsp;</p>
            </div>
            <div class="row center">
                <a class="right-align" id="h_makefavorite" onclick="addfavorite({{ quote.id }})" {% if (makefov != '[]') %} style="color: #F52422;"{% endif %}><i class="fa fa-heart fa-1x"></i></a>&nbsp;&nbsp;
                <a class="right-align" href="#"><i class="fa fa-plus-square fa-1x"></i></a>&nbsp;&nbsp;
                <a class="right-align" href="#"><i class="fa fa-refresh fa-1x"></i></a>
            </div>
            <br>
            <div class="row center">
                <p>&nbsp;</p>
            </div>

        </div>
    </div>
    <div class="parallax" style="background-color:#333;"><img src="/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
    <script>
        var homequotes = {{ makefov|trim|raw }};
        function addfavorite(id){
            if(homequotes.length == 0) {
                homequotes = {};
                homequotes.quoteId = id;
                homequotes.makeFavorite = 1;
                $('#h_makefavorite').attr("style", "color: #F52422");
                $.post("{{ path('apiEditFavorite') }}", {quoteId: id, makeFavorite: 1})
                        .done(function (data) {
                            Materialize.toast('<i class="fa fa-check"></i>&nbsp;' + data['data'], 4000, 'green');
                        });

            } else {
                if (homequotes.quoteId == id) {
                    console.log('1');
                    if(homequotes.makeFavorite == 1 ){
                        homequotes.makeFavorite = 0;
                        $('#h_makefavorite').attr("style", "color:#FFFFFF");
                    } else {
                        homequotes.makeFavorite = 1;
                        $('#h_makefavorite').attr("style", "color:#F52422");
                    }
                    once_call = false;
                    $.post("{{ path('apiEditFavorite') }}", {quoteId: id, makeFavorite: homequotes.makeFavorite})
                            .done(function (data) {
                                Materialize.toast('<i class="fa fa-check"></i>&nbsp;' + data['data'], 4000, 'green');
                            });
                }
            }

            return false;
        }
    </script>