{% extends 'base.html.twig' %}

{% block title%}Account Settings{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}

{% include 'helper/letternavbar.html.twig' %}
<div class="container">
        <h4>Account Settings</h4>
</div>


<div class="container">
    <div class="row sf_content">
        <div class="col s12 m12 l9">
            <h5>Profile</h5>

            <form class="col s12 m8 l5">
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="{{ me.username }}" id="disabled" type="text" class="validate">
                        <label for="disabled">Display Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="{{ me.email }}" id="disabled" type="text" class="validate">
                        <label for="disabled">Email</label>
                    </div>
                </div>

                <div class="row">
                    Note: for security reasons, portions of your email address are not shown.
                </div>
                <br/>
                <div class="row">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Change password</a>
                </div>
            </form>
        </div>
        <div class="col s12 m12 l3">
            <h5>Popular Topics</h5>
            {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}
        </div>
    </div>
</div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        {{ form_start(form, {'action': path('accountsettings'), 'method': 'POST', 'autocomplete': 'off'}) }}
        <div class="modal-content">
            <h4>Change password</h4>
            <div class="form-group">
                {{ form_label(form.oldPassword) }}
                {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
                {% if(form.oldPassword.vars.errors|length) %}
                    <div class="msg-error">{{ form_errors(form.oldPassword) }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                {% if(form.password.vars.errors|length) %}
                    <div class="msg-error">{{ form_errors(form.password) }}</div>
                {% endif %}
            </div>

            {{ form_widget(form._token) }}
            {{ form_errors(form) }}

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}

    <!--  Scripts-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>

    <script>

        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();

            {% for flash_message in app.session.flashbag.get('success') %}
            Materialize.toast('<i class="fa fa-check"></i>&nbsp;{{ flash_message }}', 4000, 'green');
            {% endfor %}
        });

    </script>
{% endblock %}