{% extends 'base.html.twig' %}

{% block title%}BrainyQuote - My Quotes{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col s12 m12 l12">
            <ul class="tabs" style="margin-top: 20px;margin-bottom: 10px;">
                <li class="tab col s2 disabled"><a href="#"><i class="fa fa-heart-o fa-2x"></i><br/>
                        Favorites</a></li>
                <li class="tab col s2"><a class="active" href="#"><i class="fa fa-plus-square-o fa-2x"></i><br/>
                        Collections</a></li>
            </ul>
        </div>
    </div>
<div class="container">
    <div class="row sf_content">
        <div class="col s12 m12 l9">
            {{ knp_pagination_render(pagination) }}

            {% set line_c = 0 %}
            {% for item in pagination %}
                {% set line_c = line_c + 1 %}
                {% if(line_c == 1) %}
                    <div class="col s12 m4" style="float: left;vertical-align: top;display: inline-block;">
                {% endif %}
                <div class="card" id="quote_{{ item.quote.id }}">
                    {% if(item.quote.image) %}
                        <div class="card-image">
                            <img src="/uploads/{{ item.image }}">
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <p>{{ item.quote.quote }}</p>
                        <a href="">{{ item.quote.author.name }}</a>
                    </div>
                    {% if(item.quote.keywords) %}
                        <div class="card-tags">
                            {% set tags = item.quote.keywords|split(', ') %}
                            {% for tag in tags %}
                                {% set isTopic = false %}
                                {% for i in topics %}
                                    {% if (i.name == tag) %}
                                        {% set isTopic = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if (isTopic == true) %}
                                    <a href="{{ path('onetopicpage',{'_format':'html','slug': tag|lower }) }}" title="view topic">{{ tag }}</a>,
                                {% else %}
                                    <a href="{{ path('onekeywordpage',{'_format':'html','slug': tag|lower }) }}" title="view keyword">{{ tag }}</a>,
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="card-action">
                        <a class="left-align" href="#" style="color:#00B7ED;"><i class="fa fa-facebook-official fa-2x"></i></a>
                        <a class="left-align" href="#" style="color:#803591;"><i class="fa fa-twitter-square fa-2x"></i></a>

                        <a class="right-align right" href="#" style="color:#333;"><i class="fa fa-plus-square-o fa-2x"></i></a>
                        <a class="right-align right" href="#" style="color:#F52422;" onclick="addfavorite({{ item.quote.id }})"><i class="fa fa-heart fa-2x"></i></a>
                    </div>
                </div>
                {% if(line_c == 9)%}
                    {% set line_c = 0 %}
                    </div>
                {% endif %}

            {% else %}
                no Quotes has been found.
            {% endfor %}

            {% if(line_c != 9 and line_c != 0)%}
            </div>
            {% endif %}

            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="col s12 m12 l3">
            <h5>Popular Topics</h5>
            {{ render_esi(controller('AppBundle:Topselect:toptopics')) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
    <script>
        function addfavorite(id){
            $.post("{{ path('apiEditFavorite') }}", {quoteId: id, makeFavorite: 0})
                .done(function (data) {
                    $('#quote_'+ id).remove();
                    Materialize.toast('<i class="fa fa-check"></i>&nbsp;' + data['data'], 4000, 'green');
                });
            return false;
        }
    </script>
{% endblock %}